<div id="infinity_scrollable">
  <ul id="infinite-list" class="notification-body">
    <%= render :partial => 'conversation', :object => @conversations %>
  </ul>

  <%= will_paginate %>
</div>

<script>
    $('#infinity_scrollable .pagination').addClass('hide');
    (function() {
        jQuery(function() {
            function load_pages(){
              $('#infinity_scrollable .pagination').removeClass('hide');
              var url;
              url = $('.notification_panel a[rel=next]').attr('href');
              if (url && $('.notification_panel').scrollTop() > $('#infinity_scrollable').height() - $('.notification_panel').height() - 50 ) {
                  // $('.notification_panel .pagination').text("Fetching more products...");
                  $('.notification_panel .pagination').html('<span class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Loading...</span>');
                  return $.getScript(url);
              }
            }
            $('.notification_panel').scroll(function() {
              load_pages();
            });
            return $('.notification_panel').scroll();
        });

    }).call(this);
</script>
