<div class="btn-group">
  <button type="submit" class="btn btn-sm btn-primary">
    <i class="fa fa-filter"></i> <%= t('simple_form.buttons.filter') %>
  </button>
  <button id="search_clear" name="search_clear" type="submit" value="true" class="btn btn-sm btn-warning">
    <i class="fa fa-repeat"></i> <%= t('simple_form.buttons.reset_filters') %>
  </button>
</div>
