<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- row -->
  <div class="row" style="margin: 20px;">
    <h3>Por construir</h3>
    <h5>
      Herramienta para cotizar (presupuestar a un cliente) al instante llenando un pequeño formulario. <br/>
      Al cliente se le manda un link por whatsapp para que vea el presupuesto, el cual es una pagina web, luego nosotros veremos si el cliente miró el presupuesto, cuantas veces lo miró, si lo acceden desde distintas computadoras o telefonos, etc.
    </h5>
  </div>



</section>
<!-- end widget grid -->