<div class="row">
  <div class="col-sm-12">
    <div class="text-center error-box">
      <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
      <h2 class="font-xl"><strong><%= t('pages.error_500.something_went_wrong') %></strong></h2>
      <br />
      <p class="lead semi-bold">
        <strong><%= t('pages.error_500.experienced_technical_error') %></strong><br><br>
        <small>
          <%= t('pages.error_500.we_are_informed') %>
        </small>
      </p>
    </div>
  </div>
</div>
