<div class="login-message">
  <div class="title">
    <h2>Algo está mal</h2>
  </div>
  <div class="description">
    <h4>Probablemente ya hayas confirmado tu cuenta.</h4>
    <h5 class="txt-color-red login-header-big">Intenta iniciar sesión desde la app móvil de verificaciones.</h5>

    <br/>
    <p><strong>Recuerda:</strong></p>

    <ol>
      <li>Si olvidaste tu contraseña, usa el el link de la app móvil para cambiarla.</li>
      <li>Si no recibiste el email para confirmar tu cuenta, usa el link de la app móvil para reenviar el email de confirmación. No olvides checar la bandeja de correo no deseado.</li>
    </ol>

  </div>
</div>
