<!-- PAGE FOOTER -->
<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="txt-color-white">Pile System 1.0 - LaPile © <%= Time.now.year %> </span>
    </div>
  </div>
</div>
<!-- END PAGE FOOTER -->
