<head>
  <meta charset="utf-8">
  <title> <%= Sett['WEBSITE_TITLE'] %> </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyCgBL0GC5W2-wbdXBdIDSuHssMK0rLrHcI"></script>
  <%= javascript_include_tag 'application', locals[:js_options] %>
  <%= stylesheet_link_tag 'application', locals[:css_options] %>

  <!-- FAVICONS -->
  <%= favicon_link_tag %>
</head>
