<!-- MAIN PANEL -->
<div id="main" role="main">


  <!-- MAIN CONTENT -->
  <div id="content">

    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
          <!-- PAGE HEADER -->
          <!-- <i class="fa-fw fa fa-home"></i> -->
          <i class="<%= @content_title[:icon] %>"></i> <%= @content_title[:title].html_safe %></h1>
      </div>
      <!-- end col -->

      <%= render 'shared/flash_messages' %>

    </div>
    <!-- end row -->

    <%= yield %>

  </div>
  <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->